body {
  box-sizing: border-box;
  display: flex;
}

.wrapper {  
  margin: 0 auto;  
}

textarea {
  width: 724px;
  height: 120px;
  resize: none;
  border: 2px solid black;
}

.container {
	display: flex;
  border: 2px solid black;
	padding: 5px;
  width: 718px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.k-key {
  display: flex;
	border: 2px solid black;
  height: 36px;
  width: 36px;
  margin: 2px;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  color: #fff;
  background-color: #aaa;
}

.k-key:nth-child(14),
.k-key:nth-child(30),
.k-key:nth-child(42),
.k-key:nth-child(43),
.k-key:nth-child(55) {
	width: 100px;
  background-color: #555;
}

.k-key:nth-child(15),
.k-key:nth-child(29) {
	width: 50px;
  background-color: #555;
}

.k-key:nth-child(56),
.k-key:nth-child(61) {
	width: 60px;
  background-color: #555;
}

.k-key:nth-child(59) {
	width: 285px;
  background-color: #555;
}

.k-key:nth-child(57),
.k-key:nth-child(58),
.k-key:nth-child(60),
.k-key:nth-child(61) {
  background-color: #555;
}

.k-key.active {
  background-color: red;
  border-radius: 10px;
  transition: all 1.5s;
}

.info {
  padding: 10px 60px;
  font-size: 24px;
  text-align: center;
}