.container {
  width: 800px;
  margin: 0 auto;
}

.textarea {
  width: 100%;
  height: 25vh;
  resize: none;
}

.keyboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 13px solid #777;
  border-top-color: #666;
  border-bottom-color: #888;
  background-image: radial-gradient(#111, #222);
  padding: 0.25rem;
  margin: 0 auto;
  width: 700px;
}

.row {
  height: 40px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 1px;
  margin-bottom: 2px;
}

button {
  border-radius: 3px;
  box-sizing: border-box;
  color: rgba(0,0,0,0.75);
  display: inline-block;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.125;
  padding: 0.33em 0.66em;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border: 3px solid #b2afa8;
  border-top: 2px solid #d7d7d7;
  border-bottom: 6px solid #959187;
  transition: all .2s;
}

button:active, button.pressed {
  transform: scale(0.96, 0.96) translate(0, 3px);
  transition: all .2s;
}

button[data-key=backspace] {
  width: 80px;
}

button[data-key=tab],
button[data-key=\\] {
  width: 60px;
}

button[data-key=caps] {
  width: 70px;
}

button[data-key=enter],
button[data-key=lshift],
button[data-key=rshift] {
  width: 90px;
}

button[data-key=lctrl],
button[data-key=lwin],
button[data-key=lalt],
button[data-key=ralt],
button[data-key=rctrl] {
  width: 50px;
}

button[data-key=space] {
  width: 280px;
}

.descripton {
  text-align: center;
}
